body {background-color: rgb(185, 220, 234);}
h1   {
    color: rgb(0, 0, 0);
    font-size:40px;
    font-family:"serif";  
}
p    {
    color:rgb(0, 0, 0);
    font-size:20px;
    font-family:"serif"; 
}
body {
    font-family: "Avenir Next";
}
li {
    list-style: none;
}
.header {
    background-color: rgb(81, 102, 110);
    color: rgb(255, 255, 255);
    height: 90px;
}
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
.header-list li {
    float: left;
    padding: 33px 20px;
}