body {background-color: #add8e6(253, 246, 198);}
h1   {
    color: #808080(255, 134, 198);
    font-size:40px;
    font-family:"serif";  
}
p    {
    color:#000000(9, 0, 0);
    font-size:20px;
    font-family:"serif"; 
}
body {
    font-family: "Avenir Next";
}
li {
    list-style: none;
}
.header {
    background-color: #26d0c9(253, 220, 235);
    color: #fff;
    height: 90px;
}
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
.header-list li {
    float: left;
    padding: 33px 20px;
}